@media (max-width: 64em) {
    html {
        font-size: 50%;
    }
    footer {
        margin-top: 1rem;
        height: 15vh;
    }
    .page-data-list {
        margin: 0;
        height: 65vh;
    }
    .page-data-item {
        height: 16%;
    }
    .data-desc {
        width: 50rem;
    }
    .task-body {
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }
    .comments {
        width: 100%;
    }
    .task-communication {
        align-items: center;
        justify-content: center;
    }
    .task-control {
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .task-description {
        padding-top: 2rem;
        width: 90%;
        height: auto;
    }
    .comment-form {
        width: 90%;
    }
    .comment {
        width: 90%;
    }

    .btn--task {
        width: 90%;
    }
    .task-info-holder {
        width: 90%;
    }
    .input-box--comment {
        width: 100%;
    }
    .btn-search {
        left: 1%;
    }
    .stats {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .stats-card {
        width: 100%;
        align-items: center;
    }
    .data-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .data {
        width: 100%;
    }
    .data-card {
        width: 100%;
    }
    .data-list {
        align-items: stretch;
    }
}
@media (max-width: 50em) {
    html {
        font-size: 43.75%;
    }
    .right-part {
        width: 50%;
    }
    .hide {
        display: none;
    }
}
@media (max-width: 27em) {
    html {
        font-size: 37.5%;
    }
    .appear-mobile {
        display: inline-block;
        position: absolute;
        top: 1.5%;
        right: 5%;
    }
    .page-data-list {
        margin: 0;
    }
    .hide {
        display: none;
    }
    .data-desc {
        width: 40rem;
    }
    .search-section {
        flex-direction: column;
    }
    .right-part {
        gap: 2rem;
    }
    .pagination {
        margin: 2rem 0;
        height: 3rem;
    }
    .btn-search {
        top: 18%;
        left: 2%;
    }
    .btn--new {
        padding: 0.8rem 3rem;
        width: 20rem;
    }
    .logo-left {
        display: none;
    }
    .logo-center {
        opacity: 100;
    }
    .heading-nav {
        justify-content: space-between;
    }
    .btn-mobile-nav {
        display: block;
        z-index: 2;
    }
    .nav-items {
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        --webkit-backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        transition: all 0.5s ease-in;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .nav-open .nav-items {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .nav-item a,
    .nav-item a:link,
    .nav-item a:visited {
        color: #111;
        font-size: 4rem;
    }
    .nav-item-cta {
        background-color: #ccc;
    }
    footer {
        margin: 0 auto;
        bottom: 0;
    }
    .flex-container:last-child {
        margin-bottom: 1.5rem;
    }
    .flex-container {
        margin-top: 0.8rem;
    }
}
